@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
  
}

.rowHeight {
  min-height: 40vh;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  background-color: transparent;
}
input:focus {
  border-color: green
}



